# The MySQL image build context is the repository root, filtered down to what the Dockerfile copies:
# the engine's configuration, the dumps and registry `megasamples image` staged for this build, and
# the licence files that must travel with the data. Everything else is repository weight.
*
!engines/mysql/my.cnf
!engines/mysql/init/
!engines/mysql/entrypoint-wrapper.sh
!build/mysql/image/
!NOTICE.md
!LICENSES.md
!CATALOGUE.md
!README.md
!datasets/*/LICENSE
!datasets/*/PROVENANCE.md
